body{
    background: rgb(218, 213, 218);
}

a {
    color: #1f1fd5;
}

.App-Header{
    margin: 30px 0;
}

.App-logo{
 max-width: 400px;
 display: block;
 margin: 0 auto;
}

.App-footer{
    text-align: center;
    margin: 30px 0;
}