.Phonetic {
   margin: 20px 0;
}

.Phonetic a{
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
    margin-right: 10px;
    padding: 8px 15px;
    text-decoration: none;
    transition: all 150ms ease-in-out;
}

.Phonetic a:hover{
    background: rgb(240, 187, 187);
    color: black;
}

.Phonetic .text {
    opacity: 0.7;
    font-weight: bold;
}